@model List<Mascota>

@using MvcNetCoreSessionPractica.Helpers
@{
	Mascota mascota = Context.Session.GetObject<Mascota>("MASCOTAOBJECT");
}

<h1>Ejemplos session</h1>

@if(Model != null){
	<h1 style="color: green">mascotas recuperadas: @Model.Count</h1>
}else{
	<h1 style="color: red">No tenemos mascotas</h1>
}

@if (mascota != null){
	<h2 style="color: red">
		@mascota.Nombre, @mascota.Raza, @mascota.Edad
	</h2>
}

<h2 style="color: blue">
	@Context.Session.GetString("nombre")
</h2>

<h2 style="color: red">
	@Context.Session.GetString("hora")
</h2>

<ul class="list-group">
	<li class="list-group-item">
		<a asp-controller="EjemploSession"
		asp-action="SessionSimple">
		Session simple
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession"
		   asp-action="SessionMascota">
			Session Binary
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession"
		   asp-action="SessionCollection">
			Session Collection
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession"
		   asp-action="SessionMascotaJSON">
			Session mascota json
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession"
		   asp-action="SessionMascotaObject">
			Session mascota object
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession"
		   asp-action="SessionMascotaCollection">
			Session mascota Collection
		</a>
	</li>
</ul>